*{
    margin: 0px;
    padding: 0px;
}

body{
    background-image: url("img/background.jpg");
    background-size: cover;
}

.header-container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5vh;
}
.header-container__img{

}