*{
    margin: 0px;
    padding: 0px;
}

body{
    background-image: url("img/background.jpg");
    background-size: cover;
    font-family: 'Titillium Web', sans-serif;
}

.header-container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5vh;
}
.header-container img{
    padding-left: 12px;
    padding-right: 12px;
}

.main-container{
    display: flex; 
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    max-height: 1370px;
    border: 1px solid black;
}
.form-template{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0% 2% 0% 2%;
}
.form-template__header{
    color: white;
    font-size: 2rem;
}
.form-template__wrapper{
    background-color: azure;
    border-radius: 3px;
    border: 10px solid rgba(0, 0, 0, 0.4);
    width: 420px;
}
